.features {
  text-align: center;
  padding-bottom: 170px;
  &__title {
    margin-bottom: 6px;
  }
  &__descr {
    margin: 0 auto 100px;

    @include tablet {
      margin: 0 auto 75px;
    }
    @include mobile {
      margin: 0 auto 50px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 160px;

    @include desktop {
      padding-bottom: 100px;
    }
    @include tablet {
      padding-bottom: 75px;
    }
    @include mobile {
      padding-bottom: 50px;
    }
    &-last {
      padding-bottom: 53px;

      @include tablet {
        padding-bottom: 50px;
      }
    }

    @include desktop {
      flex-direction: column;
      text-align: center;
    }
  }
  &__image {
    font-size: 0;
  }
  &__image-mobile {
    @include mobile {
      display: none;
    }
  }
  &__img {
    width: 100%;

    @include tablet {
      height: 100%;
    }
  }
  &__content {
    max-width: 550px;
    text-align: left;

    @include desktop {
      max-width: none;
    }
  }
  &__subtitle {
    max-width: 460px;
    margin-bottom: 30px;

    @include desktop {
      max-width: none;
      text-align: center;
    }
  }
  &__list-title {
    max-width: none;
  }
  &__item {
    position: relative;
    @include flex-v-center;

    &:not(:last-child) {
      margin-bottom: 40px;

      @include small-tablet {
        margin-bottom: 30px;
      }
      @include mobile {
        margin-bottom: 20px;
      }
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__icon {
    @include flex-all-center;

    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: #fbfbfb;
    box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
    border-radius: 100%;
    margin-right: 42px;

    @include mobile {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  &__text {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--color-text);

    @include small-tablet {
      font-size: 20px;
      line-height: 30px;
    }
    @include mobile {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
    }
  }
  &__info {
    max-width: 600px;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--color-text);

    @include desktop {
      max-width: none;
      text-align: center;
    }
  }
  &__link {
    display: inline-block;
    padding: 19px 38px 18px;
  }

  @include small-desktop {
    padding-bottom: 100px;
  }
  @include tablet {
    padding-bottom: 75px;
  }
  @include mobile {
    padding-bottom: 50px;
  }
}
