.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 60px 0 10px;
  &__wrapper {
    @include flex-all-sb;
  }

  @include small-tablet {
    padding: 25px 0 10px;
  }
}
