.hero {
  position: relative;
  background-color: #fae9ec;
  min-height: 1120px;
  border-bottom-left-radius: 100% 200px;
  border-bottom-right-radius: 100% 200px;
  &__wrapper {
    display: flex;
    padding: 160px 0 0;

    @include small-desktop {
      flex-direction: column;
      align-items: center;
    }
    @include tablet {
      padding: 200px 0 0;
    }
    @include small-tablet {
      padding: 150px 0 40px;
    }
  }
  &__content {
    padding-top: 145px;
    padding-left: 40px;

    @include small-desktop {
      padding-top: 0;
      padding-left: 0;
    }
  }
  &__title {
    max-width: 865px;
    font-weight: 600;
    font-size: 82px;
    line-height: 98px;
    color: #1e2a39;
    margin-bottom: 26px;
    span {
      position: relative;
      padding-left: 40px;
      &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 14px;
        width: 100%;
        height: 100%;
        background-image: url("../img/highlight.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @include mobile {
          top: 12px;
          left: 35px;
          width: 77%;
          height: 75%;
        }
      }
      @include tablet {
        padding-left: 25px;
      }
      @include mobile {
        display: block;
        padding: 20px 3px 25px;
      }
    }

    @include tablet {
      max-width: none;
      font-size: 50px;
      line-height: 65px;
      text-align: center;
    }
    @include mobile {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 15px;
    }
  }
  &__descr {
    max-width: 523px;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 45px;

    @include tablet {
      text-align: center;
      margin: 0 auto 30px;
    }
  }
  &__btns {
    @include flex-v-center;

    @include small-desktop {
      justify-content: center;
    }
    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }
  }
  &__btn {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding: 22px 38px;
    margin-right: 40px;

    @include small-tablet {
      font-size: 22px;
      line-height: 30px;
      margin-right: 0;
      padding: 20px 30px;
      margin-bottom: 30px;
    }
    @include mobile {
      font-size: 20px;
      line-height: 26px;
      padding: 18px 24px;
    }
  }
  &__watch {
    @include flex-v-center;

    &:hover {
      .hero__watch-text {
        color: var(--color-black);
      }
    }
  }
  &__play {
    @include flex-all-center;

    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background-color: var(--color-light);
    border-radius: 100%;
    margin-right: 32px;

    @include mobile {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }
  }
  &__play-btn {
    margin-left: 10px;
    height: 32px;
    object-fit: unset;

    @include mobile {
      margin-left: 8px;
      width: 27px;
      height: 27px;
    }
  }
  &__watch-text {
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-clay);
    transition: color 0.3s;

    @include mobile {
      font-size: 16px;
      line-height: 26px;
    }
  }
  &__images {
    position: relative;

    @include small-tablet {
      display: none;
    }
  }
  &__student {
    overflow: hidden;
    font-size: 0;

    @include small-desktop {
      text-align: center;
    }
  }
  &__img {
    height: 955px;
    transform: rotate(-6.16deg);

    @include big-desktop {
      height: 850px;
      transform: rotate(0);
    }
  }
  &__info {
    @include flex-v-center;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px 28px;

    @include big-desktop {
      padding: 17px 20px;
    }
  }
  &__calendar {
    position: absolute;
    top: 25%;
    left: -9%;
    min-width: 300px;

    @include big-desktop {
      top: 50%;
      left: auto;
      right: 10%;
    }
  }
  &__teacher {
    position: absolute;
    bottom: 19%;
    left: -11%;
    min-width: 390px;
    align-items: flex-start;
    .hero__info-image {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url("../img/green-point.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    @include big-desktop {
      display: none;
    }
  }
  &__message {
    position: absolute;
    bottom: 41%;
    right: 0;
    min-width: 370px;
    &::after {
      content: "";
      position: absolute;
      top: 21px;
      right: 16px;
      width: 20px;
      height: 20px;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @include big-desktop {
      bottom: 6%;
      left: -16%;
      right: auto;
    }
    @include small-desktop {
      left: 5%;
    }
  }
  &__diagram {
    position: absolute;
    top: 17%;
    right: 8%;

    @include big-desktop {
      display: none;
    }
  }
  &__info-image {
    margin-right: 25px;
  }
  &__info-img {
    height: 100%;
  }
  &__info-title {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #595959;
  }
  &__info-text {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #545567;
  }
  &__info-footer {
    width: 100%;
    margin-top: 19px;
  }
  &__info-btn {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-light);
    border-radius: 80px;
    padding: 13px 48px 12px;
    background-color: var(--color-black);
  }

  @include big-desktop {
    min-height: 990px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  @include tablet {
    min-height: auto;
  }
}
