.news {
  padding-bottom: 155px;
  background-color: var(--color-light);
  &__title {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 6px;
  }
  &__descr {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    margin: 0 auto 100px;

    @include small-tablet {
      margin: 0 auto 75px;
    }
    @include mobile {
      margin: 0 auto 50px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include desktop {
      @include flex-all-center;

      flex-direction: column;
    }
  }
  &__single {
    display: block;

    @include big-desktop {
      margin-bottom: 30px;
    }
    @include tablet {
      display: none;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 46px;
    }
  }
  &__item-mobile {
    display: none;

    @include tablet {
      display: block;
    }
  }

  @include small-desktop {
    padding-bottom: 100px;
  }
  @include tablet {
    padding-bottom: 75px;
  }
  @include mobile {
    padding-bottom: 50px;
  }
}
.news-big {
  max-width: 640px;
  &__img {
    background-color: rgba(#171b41, 0.1);
    border-radius: 20px;
    margin-bottom: 36px;
  }
  &__category {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: var(--color-light);
    padding: 2px 36px;
    background-color: #dc5e74;
    border-radius: 80px;
    margin-bottom: 20px;

    @include big-desktop {
      margin: 0 auto 20px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 47px;
    color: var(--color-clay);
    margin-bottom: 20px;
  }
  &__descr {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-bottom: 28px;
  }
  &__link {
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #444444;
  }

  @include big-desktop {
    max-width: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.news-small {
  max-width: 800px;
  &:hover {
    .news-small__title {
      color: var(--color-accent);
    }
  }
  &__article {
    display: flex;
    align-items: center;

    @include big-desktop {
      justify-content: center;
    }
    @include mobile {
      flex-direction: column;
    }
  }
  &__image {
    position: relative;
    margin-right: 40px;

    @include mobile {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__img {
    background-color: rgba(#171b41, 0.1);
    border-radius: 20px;
  }
  &__category {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: var(--color-light);
    background: #dc5e74;
    padding: 4px 12px;
    border-radius: 80px;
  }
  &__content {
    max-width: 480px;

    @include big-desktop {
      max-width: 60%;
    }
    @include mobile {
      max-width: none;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: var(--color-clay);
    margin-bottom: 20px;
    transition: color 0.3s;

    @include mobile {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__descr {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: var(--color-text);

    @include mobile {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @include big-desktop {
    max-width: none;
  }
}
