.testimonials {
  background-color: var(--color-light);
  padding-bottom: 120px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    position: relative;
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--color-accent);
    padding-left: 110px;
    margin-bottom: 33px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 80px;
      height: 1px;
      background-color: var(--color-accent);
    }
  }
  &__title {
    max-width: 500px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: var(--color-black);
    margin-bottom: 30px;
  }
  &__descr {
    max-width: 610px;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-bottom: 30px;
  }
  &__link {
    position: relative;
    display: inline-block;
    line-height: 35px;
    padding: 22px 106px 22px 38px;
    &:hover {
      border: 1px solid var(--color-accent);
      color: var(--color-accent);
    }
    &:active {
      background-color: transparent;
      color: var(--color-accent);
    }
  }
  &__link-arrow {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__slider {
    position: relative;
    max-width: 750px;
    overflow: hidden;
    padding-bottom: 150px;
  }
  &__image {
    font-size: 0;
    padding-right: 190px;
    img {
      background-color: #c4c4c4;
      border-radius: 20px;
    }
  }
  &__review {
    position: absolute;
    bottom: -118px;
    right: 0;
    z-index: 4;
    max-width: 680px;
    background: var(--color-light);
    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
    border-radius: 20px;
    padding: 41px 42px 30px 87px;
    margin-left: 45px;
    margin-right: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 100%;
      background-color: #cd356f;
      box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
      border-radius: 20px 0px 0px 20px;
    }
  }
  &__quote {
    position: relative;
    max-width: 534px;
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #5f5f7e;
    margin-bottom: 30px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -32px;
      display: block;
      background-color: #bdbdd1;
      height: 100%;
      width: 1px;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__author {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    color: #484848;
  }
  &__rate {
    margin-bottom: 12px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__other {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #80819a;
  }
  &__next {
    position: absolute;
    top: 41%;
    right: 21%;
    z-index: 5;
    @include flex-all-center;

    width: 80px;
    height: 80px;
    background: var(--color-light);
    box-shadow: 0px 4px 60px rgba(41, 44, 124, 0.15);
    border-radius: 100px;
  }
}
