<section class="about">
  <div class="container">
    <h2 class="section-title about__title">Why we are best?</h2>
    <p class="descr about__descr">
      eLearn is one powerful online software suite that combines all the tools
      needed to run a successful school or office.
    </p>
    <ul class="list-reset about__list">
      <li class="about__item">
        <div class="about__image about__image-navy">
          <img
            class="about__img"
            src="img/about-1.svg"
            loading="lazy"
            alt="Online Billing, Invoicing, & Contracts
          "
            width="33"
            height="46"
          />
        </div>
        <h3 class="about__item-title">
          Online Billing, Invoicing, & Contracts
        </h3>
        <p class="about__item-descr">
          Simple and secure control of your organization's financial and legal
          transactions. Send customized invoices and contracts
        </p>
      </li>
      <li class="about__item">
        <div class="about__image about__image-red">
          <img
            class="about__img"
            src="img/about-2.svg"
            loading="lazy"
            alt="Easy Scheduling & Attendance Tracking
          "
            width="48"
            height="48"
          />
        </div>
        <h3 class="about__item-title">Easy Scheduling & Attendance Tracking</h3>
        <p class="about__item-descr">
          Schedule and reserve classrooms at one campus or multiple campuses.
          Keep detailed records of student attendance
        </p>
      </li>
      <li class="about__item">
        <div class="about__image about__image-blue">
          <img
            class="about__img"
            src="img/about-3.svg"
            loading="lazy"
            alt="Customer Tracking
          "
            width="55"
            height="44"
          />
        </div>
        <h3 class="about__item-title">Customer Tracking</h3>
        <p class="about__item-descr">
          Automate and track emails to individuals or groups. Skilline's
          built-in system helps organize your organization
        </p>
      </li>
    </ul>
  </div>
</section>
