<section class="features">
  <div class="container">
    <h2 class="section-title features__title">Our Features</h2>
    <p class="descr features__descr">
      This very extraordinary feature, can make learning activities more
      efficient
    </p>
    <div class="features__wrapper">
      <div class="features__image features__image-mobile">
        <picture>
          <source srcset="img/features-img-1.avif" type="image/avif" />
          <source srcset="img/features-img-1.webp" type="image/webp" />
          <img
            class="features__img"
            loading="lazy"
            src="img/features-img-1.jpg"
            width="896"
            height="650"
            alt=""
          />
        </picture>
      </div>
      <div class="features__content right">
        <h3 class="section-subtitle features__subtitle features__list-title">
          A user interface designed for the classroom
        </h3>
        <ul class="list-reset features__list">
          <li class="features__item">
            <div class="features__icon">
              <img src="img/feature-1.svg" alt="" width="27" height="26" />
            </div>
            <span class="features__text">
              Teachers don't get lost in the grid view and have a dedicated
              Podium space.</span
            >
          </li>
          <li class="features__item">
            <div class="features__icon">
              <img src="img/feature-2.svg" alt="" width="28" height="26" />
            </div>
            <span class="features__text">
              Teachers don't get lost in the grid view and have a dedicated
              Podium space.</span
            >
          </li>
          <li class="features__item">
            <div class="features__icon">
              <img src="img/feature-3.svg" alt="" width="30" height="26" />
            </div>
            <span class="features__text">
              Teachers don't get lost in the grid view and have a dedicated
              Podium space.</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="features__wrapper">
      <div class="features__image">
        <picture>
          <source srcset="img/features-img-2.avif" type="image/avif" />
          <source srcset="img/features-img-2.webp" type="image/webp" />
          <img
            class="features__img"
            loading="lazy"
            src="img/features-img-2.jpg"
            width="700"
            height="611"
            alt=""
          />
        </picture>
      </div>
      <div class="features__content left">
        <h3 class="section-subtitle features__subtitle">
          Tools For Teachers And Learners
        </h3>
        <p class="features__info">
          Class has a dynamic set of teaching tools built to be deployed and
          used during class. Teachers can handout assignments in real-time for
          students to complete and submit.
        </p>
      </div>
    </div>
    <div class="features__wrapper">
      <div class="features__image">
        <picture>
          <source srcset="img/features-img-3.avif" type="image/avif" />
          <source srcset="img/features-img-3.webp" type="image/webp" />
          <img
            class="features__img"
            loading="lazy"
            src="img/features-img-3.jpg"
            width="617"
            height="660"
            alt=""
          />
        </picture>
      </div>
      <div class="features__content right">
        <h3 class="section-subtitle features__subtitle">
          Assignments, Quizzes, Tests every week
        </h3>
        <p class="features__info">
          Easily launch live assignments, quizzes, and tests. Student results
          are automatically entered in the online gradebook.
        </p>
      </div>
    </div>
    <div class="features__wrapper">
      <div class="features__image">
        <picture>
          <source srcset="img/features-img-4.avif" type="image/avif" />
          <source srcset="img/features-img-4.webp" type="image/webp" />
          <img
            class="features__img"
            loading="lazy"
            src="img/features-img-4.jpg"
            width="808"
            height="560"
            alt=""
          />
        </picture>
      </div>
      <div class="features__content left">
        <h3 class="section-subtitle features__subtitle">
          Class Management Tools for Educators
        </h3>
        <p class="features__info">
          Class provides tools to help run and manage the class such as Class
          Roster, Attendance, and more. With the Gradebook, teachers can review
          and grade tests and quizzes in real-time.
        </p>
      </div>
    </div>
    <div class="features__wrapper features__wrapper-last">
      <div class="features__image">
        <picture>
          <source srcset="img/features-img-5.avif" type="image/avif" />
          <source srcset="img/features-img-5.webp" type="image/webp" />
          <img
            class="features__img"
            loading="lazy"
            src="img/features-img-5.jpg"
            width="755"
            height="570"
            alt=""
          />
        </picture>
      </div>
      <div class="features__content right">
        <h3 class="section-subtitle features__subtitle">
          One-on-One Discussions Class
        </h3>
        <p class="features__info">
          Teachers and teacher assistants can talk with students privately
          without leaving the Zoom environment.
        </p>
      </div>
    </div>
    <a class="btn btn--hollow-accent features__link" href="#"
      >See more features</a
    >
  </div>
</section>
