<header class="header">
  <div class="header-container">
    <div class="header__wrapper">
      <a class="logo header__logo" href="index.html">
        <img
          class="logo__img"
          src="img/logo.svg"
          alt="e-Learn Logo"
          width="141"
          height="83"
        />
      </a>
      <nav class="nav" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Careers</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Blog</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>About Us</a>
          </li>
          <li class="nav__item nav__btn">
            <button class="btn-reset btn btn--white nav__login" data-menu-item>
              Login
            </button>
          </li>
          <li class="nav__item nav__btn">
            <button class="btn-reset btn btn--black nav__signup" data-menu-item>
              Sign Up
            </button>
          </li>
        </ul>
      </nav>
      <button
        class="burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
