<section class="hero">
  <div class="header-container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title">
          Learn New Skill Gain More<span>Education</span>
        </h1>
        <p class="descr hero__descr">
          eLearn is an interesting platform that will teach you in more an
          interactive way
        </p>
        <div class="hero__btns">
          <a class="btn btn--accent hero__btn" href="#">Join for free</a>
          <a class="hero__watch" href="#">
            <div class="hero__play">
              <img
                class="hero__play-btn"
                src="img/play-icon.svg"
                alt="Play Button"
                width="33"
                height="32"
              />
            </div>
            <span class="hero__watch-text">Watch how it works</span>
          </a>
        </div>
      </div>
      <div class="hero__images">
        <div class="hero__student">
          <picture>
            <source srcset="img/hero-student.avif" type="image/avif" />
            <source srcset="img/hero-student.webp" type="image/webp" />
            <img
              src="img/hero-student.png"
              class="hero__img"
              width="850"
              height="1000"
              alt="Student Image"
            />
          </picture>
        </div>
        <div class="hero__info hero__calendar">
          <div class="hero__info-image">
            <img
              class="hero__info-img"
              src="img/calendar.svg"
              alt=""
              width="50"
              height="50"
            />
          </div>
          <div class="hero__info-descr">
            <span class="hero__info-title">250k</span>
            <span class="hero__info-text">Assisted Student</span>
          </div>
        </div>
        <div class="hero__info hero__teacher">
          <div class="hero__info-image">
            <picture>
              <source srcset="img/teacher-img.avif" type="image/avif" />
              <source srcset="img/teacher-img.webp" type="image/webp" />
              <img
                class="hero__info-img"
                src="img/teacher-img.jpg"
                width="56"
                height="56"
                alt=""
              />
            </picture>
          </div>
          <div class="hero__info-descr">
            <span class="hero__info-title">User Experience Class</span>
            <span class="hero__info-text">Today at 12.00 PM</span>
            <div class="hero__info-footer">
              <a class="btn btn--black hero__info-btn" href="#">Join Now</a>
            </div>
          </div>
        </div>
        <div class="hero__info hero__message">
          <div class="hero__info-image">
            <img
              class="hero__info-img"
              src="img/message.svg"
              alt=""
              width="50"
              height="50"
            />
          </div>
          <div class="hero__info-descr">
            <span class="hero__info-title">Congratulations</span>
            <span class="hero__info-text">Your admission completed</span>
          </div>
        </div>
        <div class="hero__diagram">
          <img src="img/diagram.svg" alt="" width="140" height="140" />
        </div>
      </div>
    </div>
  </div>
</section>
