<section class="integrations">
  <h2 class="visually-hidden">We have integrations with</h2>
  <div class="container">
    <div class="integrations__wrapper">
      <ul class="list-reset integrations__list">
        <li class="integrations__item">
          <img
            class="integrations__img"
            src="img/onedrive.svg"
            loading="lazy"
            alt="OneDrive Icon"
            width="228"
            height="195"
          />
        </li>
        <li class="integrations__item">
          <img
            class="integrations__img"
            src="img/dropbox.svg"
            loading="lazy"
            alt="Dropbox Icon"
            width="130"
            height="121"
          />
        </li>
        <li class="integrations__item">
          <img
            class="integrations__img"
            src="img/gdrive.svg"
            loading="lazy"
            alt="Google Drive Icon"
            width="138"
            height="135"
          />
        </li>
        <li class="integrations__item">
          <img
            class="integrations__img"
            src="img/t-integration.svg"
            loading="lazy"
            alt=""
            width="159"
            height="159"
          />
        </li>
      </ul>
      <div
        class="integrations__content right"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="300"
      >
        <span class="integrations__name">INTEGRATIONS</span>
        <h3 class="integrations__title">
          400+ educational tools and platform integrations
        </h3>
        <p class="descr integrations__descr">
          Schoology has every tool your classroom needs and comes pre-integrated
          with more than 200+ tools, student information systems (SIS), and
          education platforms.
        </p>
        <a class="btn btn--hollow-accent integrations__link" href="#"
          >See All Integrations</a
        >
      </div>
    </div>
  </div>
</section>
