<section class="news">
  <div class="container">
    <h2 class="section-title news__title">Lastest News and Resources</h2>
    <p class="descr news__descr">
      See the developments that have occurred to Skillines in the world
    </p>
    <div class="news__wrapper">
      <div class="news__single">
        <article class="news__big news-big">
          <picture>
            <source srcset="img/article-single.avif" type="image/avif" />
            <source srcset="img/article-single.webp" type="image/webp" />
            <img
              class="news-big__img"
              loading="lazy"
              src="img/article-single.jpg"
              width="640"
              height="340"
              alt=""
            />
          </picture>
          <div class="news-big__category">NEWS</div>
          <h3 class="news-big__title">
            Class adds $30 million to its balance sheet for a Zoom-friendly
            edtech solution
          </h3>
          <p class="news-big__descr">
            Class, launched less than a year ago by Blackboard co-founder
            Michael Chasen, integrates exclusively...
          </p>
          <a class="news-big__link" href="#">Read more</a>
        </article>
      </div>
      <ul class="list-reset news__list">
        <li class="news__item news__item-mobile">
          <a class="news__small news-small" href="#">
            <article class="news-small__article">
              <div class="news-small__image">
                <picture>
                  <source srcset="img/article-single.avif" type="image/avif" />
                  <source srcset="img/article-single.webp" type="image/webp" />
                  <img
                    class="news-small__img"
                    loading="lazy"
                    src="img/article-single.jpg"
                    width="280"
                    height="200"
                    alt=""
                  />
                </picture>
                <div class="news-small__category">NEWS</div>
              </div>
              <div class="news-small__content">
                <h3 class="news-small__title">
                  FClass adds $30 million to its balance sheet for a
                  Zoom-friendly edtech solution
                </h3>
                <p class="news-small__descr">
                  Class, launched less than a year ago by Blackboard co-founder
                  Michael Chasen, integrates exclusively...
                </p>
              </div>
            </article>
          </a>
        </li>
        <li class="news__item">
          <a class="news__small news-small" href="#">
            <article class="news-small__article">
              <div class="news-small__image">
                <picture>
                  <source srcset="img/article-1.avif" type="image/avif" />
                  <source srcset="img/article-1.webp" type="image/webp" />
                  <img
                    class="news-small__img"
                    loading="lazy"
                    src="img/article-1.jpg"
                    width="280"
                    height="200"
                    alt=""
                  />
                </picture>
                <div class="news-small__category">PRESS RELEASE</div>
              </div>
              <div class="news-small__content">
                <h3 class="news-small__title">
                  Class Technologies Inc. Closes $30 Million Series A Financing
                  to Meet High Demand
                </h3>
                <p class="news-small__descr">
                  Class Technologies Inc., the company that created Class,...
                </p>
              </div>
            </article>
          </a>
        </li>
        <li class="news__item">
          <a class="news__small news-small" href="#">
            <article class="news-small__article">
              <div class="news-small__image">
                <picture>
                  <source srcset="img/article-2.avif" type="image/avif" />
                  <source srcset="img/article-2.webp" type="image/webp" />
                  <img
                    class="news-small__img"
                    loading="lazy"
                    src="img/article-2.jpg"
                    width="280"
                    height="200"
                    alt=""
                  />
                </picture>
                <div class="news-small__category">NEWS</div>
              </div>
              <div class="news-small__content">
                <h3 class="news-small__title">
                  Zoom's earliest investors are betting millions on a better
                  Zoom for schools
                </h3>
                <p class="news-small__descr">
                  Zoom was never created to be a consumer product. Nonetheless,
                  the...
                </p>
              </div>
            </article>
          </a>
        </li>
        <li class="news__item">
          <a class="news__small news-small" href="#">
            <article class="news-small__article">
              <div class="news-small__image">
                <picture>
                  <source srcset="img/article-3.avif" type="image/avif" />
                  <source srcset="img/article-3.webp" type="image/webp" />
                  <img
                    class="news-small__img"
                    loading="lazy"
                    src="img/article-3.jpg"
                    width="280"
                    height="200"
                    alt=""
                  />
                </picture>
                <div class="news-small__category">NEWS</div>
              </div>
              <div class="news-small__content">
                <h3 class="news-small__title">
                  Former Blackboard CEO Raises $16M to Bring LMS Features to
                  Zoom Classrooms
                </h3>
                <p class="news-small__descr">
                  This year, investors have reaped big financial returns from
                  betting on Zoom...
                </p>
              </div>
            </article>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
