<section class="our-system" id="watchVideo">
  <div class="container">
    <div class="our-system__wrapper">
      <div
        class="our-system__content left"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <h2 class="our-system__title">
          Everything you can do in a physical classroom, you can do with eLearn
        </h2>
        <p class="descr our-system__descr">
          elearn's school management software helps traditional and online
          schools manage scheduling, attendance, payments and virtual classrooms
          all in one secure cloud-based system.
        </p>
        <a class="our-system__link" href="#">Learn more</a>
      </div>
      <div class="our-system__video" data-aos="fade-left" data-aos-delay="500">
        <video
          class="video"
          src="study-video.mp4"
          poster="img/video-poster.jpg"
          preload="metadata"
          playsinline
          muted
          controls
        ></video>
        <button class="btn-reset video-play" aria-label="Play Video Button">
          <img
            class="video-play__btn"
            src="img/play-icon.svg"
            alt="Play Button"
            width="33"
            height="32"
          />
        </button>
      </div>
    </div>
  </div>
</section>
