<section class="our-system">
  <div class="container">
    <div class="our-system__wrapper">
      <div class="our-system__content">
        <h2 class="our-system__title">
          Everything you can do in a physical classroom, you can do with eLearn
        </h2>
        <p class="descr our-system__descr">
          elearn's school management software helps traditional and online
          schools manage scheduling, attendance, payments and virtual classrooms
          all in one secure cloud-based system.
        </p>
        <a class="our-system__link" href="#">Learn more</a>
      </div>
      <div class="our-system__video">
        <video class="video" src="study-video.mp4" playsinline muted></video>
        <div class="video__play">
          <img
            class="hero__play-btn"
            src="img/play-icon.svg"
            alt="Play Button"
            width="33"
            height="32"
          />
        </div>
      </div>
    </div>
  </div>
</section>
