<section class="partners">
  <div class="container">
    <div class="partners__wrapper">
      <h2 class="visually-hidden">Our Partners</h2>
      <span class="partners__descr">Trusted by 5,000+ Companies Worldwide</span>
      <ul class="list-reset partners__list">
        <li class="partners__item">
          <a class="partners__link" href="#" aria-label="Google Page">
            <svg>
              <use xlink:href="img/sprite.svg#google"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a class="partners__link" href="#" aria-label="Netflix Page">
            <svg>
              <use xlink:href="img/sprite.svg#netflix"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a class="partners__link" href="#" aria-label="Airbnb Page">
            <svg>
              <use xlink:href="img/sprite.svg#airbnb"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a class="partners__link" href="#" aria-label="Amazon Page">
            <svg>
              <use xlink:href="img/sprite.svg#amazon"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a class="partners__link" href="#" aria-label="Facebook Page">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a class="partners__link" href="#" aria-label="Grab Page">
            <svg>
              <use xlink:href="img/sprite.svg#grab"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
