<section class="testimonials">
  <div class="container">
    <div class="testimonials__wrapper">
      <div class="testimonials__content left">
        <span class="testimonials__name">testimonials</span>
        <h2 class="testimonials__title">What They Say?</h2>
        <p class="descr testimonials__descr">
          Skilline has got more than 100k positive ratings from our users around
          the world.
        </p>
        <p class="descr testimonials__descr">
          Some of the students and teachers were greatly helped by the Skilline.
        </p>
        <p class="descr testimonials__descr">
          Are you too? Please give your assessment
        </p>
        <a class="btn btn--hollow-accent testimonials__link" href="#"
          >Write your assessment
          <img
            src="img/btn-arrow.svg"
            alt=""
            class="testimonials__link-arrow"
            width="80"
            height="80"
          />
        </a>
      </div>
      <div class="testimonials__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials__image">
              <picture>
                <source srcset="img/testimonials-img.avif" type="image/avif" />
                <source srcset="img/testimonials-img.webp" type="image/webp" />
                <img
                  class="testimonials__img"
                  loading="lazy"
                  src="img/testimonials-img.jpg"
                  width="560"
                  height="700"
                  alt=""
                />
              </picture>
            </div>
            <div class="testimonials__review">
              <q class="testimonials__quote"
                >"Thank you so much for your help. It's exactly what I've been
                looking for. You won't regret it. It really saves me time and
                effort. Skilline is exactly what our business has been
                lacking."</q
              >
              <div class="testimonials__footer">
                <span class="testimonials__author">Gloria Rose</span>
                <div class="testimonials__more">
                  <div class="testimonials__rate">
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                  </div>
                  <a class="testimonials__other" href="#">12 reviews at Yelp</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__image">
              <picture>
                <source srcset="img/testimonials-img.avif" type="image/avif" />
                <source srcset="img/testimonials-img.webp" type="image/webp" />
                <img
                  class="testimonials__img"
                  loading="lazy"
                  src="img/testimonials-img.jpg"
                  width="560"
                  height="700"
                  alt=""
                />
              </picture>
            </div>
            <div class="testimonials__review">
              <q class="testimonials__quote"
                >"Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                distinctio, tenetur eligendi voluptate aliquid aperiam animi
                necessitatibus consequatur porro inventore?"</q
              >
              <div class="testimonials__footer">
                <span class="testimonials__author">Gloria Rose</span>
                <div class="testimonials__more">
                  <div class="testimonials__rate">
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                  </div>
                  <a class="testimonials__other" href="#">12 reviews at Yelp</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__image">
              <picture>
                <source srcset="img/testimonials-img.avif" type="image/avif" />
                <source srcset="img/testimonials-img.webp" type="image/webp" />
                <img
                  class="testimonials__img"
                  loading="lazy"
                  src="img/testimonials-img.jpg"
                  width="560"
                  height="700"
                  alt=""
                />
              </picture>
            </div>
            <div class="testimonials__review">
              <q class="testimonials__quote"
                >"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
                maxime accusamus, iure consequuntur iusto accusantium."</q
              >
              <div class="testimonials__footer">
                <span class="testimonials__author">Gloria Rose</span>
                <div class="testimonials__more">
                  <div class="testimonials__rate">
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                    <img src="img/star.svg" alt="Star" width="24" height="24" />
                  </div>
                  <a class="testimonials__other" href="#">12 reviews at Yelp</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn-reset testimonials__next" aria-label="Next review">
          <img
            class="testimonials__next-img"
            src="img/slider-next.svg"
            alt="Next Slide"
            width="12"
            height="20"
          />
        </button>
      </div>
    </div>
  </div>
</section>
