html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: initial;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.header-container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--header-container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.logo {
  font-size: 0;
}

.section-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 79px;
  text-align: center;
  color: var(--color-black);
}

.section-subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  color: var(--color-black);
}

.descr {
  font-size: 24px;
  line-height: 43px;
  color: var(--color-text);
}

.btn {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  padding: 12px 10px 13px;
  border-radius: 80px;
  border: 1px solid transparent;
  transition: border 0.3s, color 0.3s, background-color 0.3s;
  &--black {
    color: var(--color-light);
    letter-spacing: 0.02em;
    background-color: var(--color-black);
    &:hover {
      border: 1px solid var(--color-light);
    }
  }
  &--white {
    color: #6c6c6c;
    letter-spacing: 0.02em;
    background-color: var(--color-light);
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
    &:hover {
      border: 1px solid var(--color-black);
    }
  }
  &--accent {
    color: var(--color-light);
    background-color: var(--color-accent);
    &:hover {
      border: 1px solid var(--color-black);
    }
  }
  &--hollow-accent {
    color: var(--color-accent);
    letter-spacing: 0.02em;
    border: 1px solid var(--color-accent);
    &:hover {
      border: 1px solid var(--color-black);
      color: var(--color-black);
    }
    &:active {
      background-color: var(--color-accent);
      color: var(--color-black);
    }
  }
  &--hollow-white {
    color: var(--color-light);
    letter-spacing: 0.02em;
    border: 1px solid var(--color-light);
    &:hover {
      border: 1px solid var(--color-accent);
      background-color: var(--color-accent);
    }
    &:active {
      background-color: var(--color-light);
      color: var(--color-accent);
      border: 1px solid var(--color-accent);
    }
  }
}

.right {
  order: 1;
  margin-left: 20px;
}
.left {
  order: -1;
  margin-right: 20px;
}
